html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}
input,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
}
@media screen {
  html,
  body {
    height: 100%;
  }
}
body {
  background: #224160;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media screen {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.inner:before,
.inner:after {
  content: "";
  display: table;
}
.inner:after {
  clear: both;
}
@media screen {
  .inner {
    padding: 0 20px;
  }
}
#content-wrap {
  background: #fff;
  border-top: 1px solid #161d24;
  border-bottom: 1px solid #161d24;
  margin: -1px 0;
}
.video-container {
  text-align: center;
}
.btn {
  padding: 18px 0;
  text-align: center;
  width: 182px;
  font-size: 20px;
}
.btn-yellow {
  color: #25415e;
  background-color: #ffde6c;
}
.btn-blue {
  color: #ffde6c;
  background-color: #224160;
}
.title-wraper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.title-wraper .text {
  font-size: 50px;
  color: #ffde6c;
  margin-right: 20px;
}
.mettingItem {
  margin-bottom: 24px;
  background-color: #ffde6c;
  color: #224160;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 280px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mettingItem .left {
  padding-left: 62px;
  padding-right: 54px;
  text-align: left;
  width: 100%;
}
.mettingItem .left .leftContent {
  background-image: url("/assets/beijingIcon.png");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
.mettingItem .left .leftContent p {
  margin-bottom: 10px;
}
.mettingItem .left .leftContent .name {
  font-size: 60px;
  margin-bottom: 39px;
}
.mettingItem .right {
  height: 100%;
  padding: 50px 0;
  padding-right: 78px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.yellow {
  color: #ffde6c;
}
.topicItem {
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #224160;
  background-color: #ffde6c;
  margin-bottom: 18px;
}
.topicItem .left {
  padding-left: 92px;
  padding-right: 58px;
  text-align: center;
  border-right: 1px solid #224160;
}
.topicItem .left .name {
  font-size: 30px;
  margin: 20px 0;
}
.topicItem .left .title {
  font-size: 20px;
}
.topicItem .right {
  padding-left: 50px;
  padding-right: 70px;
}
.topicItem .right .rightTitle {
  color: #999;
  margin-bottom: 5px;
}
.topicItem .right .topicName {
  font-size: 30px;
  margin-bottom: 35px;
}
.topicItem .right .summary {
  font-size: 20px;
}
.volunteerItem {
  max-width: 300px;
  height: 420px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: #ffde6c;
  color: #224160;
  margin-bottom: 30px;
}
.volunteerItem .name {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
}
.volunteerItem .title {
  font-size: 20px;
  margin-bottom: 20px;
}
.volunteerItem .description {
  font-size: 16px;
  color: #999;
  max-width: 250px;
  margin: 0 auto;
}
#header {
  position: relative;
  background: #ffde6c;
}
@media print {
  #header {
    display: none;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #25415e;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}
#header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #header-inner {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
#logo-wrap {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 50px;
  -ms-flex: 0 50px;
  flex: 0 50px;
}
#logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/logo.svg");
  width: 50px;
  height: 50px;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  display: block;
}
#main-nav {
  display: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  padding-left: 20px;
}
@media screen and (min-width: 769px) {
  #main-nav {
    display: block;
  }
}
.main-nav-link {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 15px;
}
.main-nav-link:hover {
  opacity: 1;
  color: #1094e8;
}
#lang-select-wrap {
  display: none;
  position: relative;
}
@media screen and (min-width: 769px) {
  #lang-select-wrap {
    display: block;
  }
}
#lang-select-label {
  color: #25415e;
  font-weight: bold;
  opacity: 0.7;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#lang-select-label span {
  padding-left: 8px;
}
#lang-select-label i {
  opacity: 0.7;
}
#lang-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: menulist-button;
  font-size: inherit;
}
#banner {
  background-image: url("/assets/cqm_banner.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 574px;
  width: 100%;
}
.button-wrap {
  padding: 45px 0;
  text-align: center;
}
.left-btn {
  margin-right: 226px;
}
.metting-list {
  margin-top: 24px;
}
.reviewWraper {
  background-color: #ffde6c;
  width: 100%;
  height: 280px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.reviewWraper .reviewItem {
  width: 180px;
  margin: 0 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.reviewWraper .reviewItem img {
  margin-bottom: 8px;
}
.reviewWraper .reviewItem p {
  margin-bottom: 4px;
}
.supportWraper {
  margin-top: 24px;
}
.supportWraper img {
  width: 100%;
  margin-bottom: 24px;
}
#sidebar {
  width: 220px;
  float: left;
  padding-bottom: 40px;
  opacity: 0.8;
  margin-left: -220px;
  display: none;
}
@media screen and (min-width: 769px) {
  #sidebar {
    display: block;
  }
}
.sidebar-title {
  margin-top: 40px;
  padding: 10px 0;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0e83cd;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
  line-height: 1;
}
.sidebar-link {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  color: #444;
  text-decoration: none;
  padding: 7px 0;
  line-height: 1;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-link.current {
  color: #0e83cd;
}
.sidebar-link:hover {
  color: #1094e8;
}
.agendaWraper {
  margin-top: 24px;
  margin-bottom: 24px;
}
.agendaWraper .agendaItem {
  background: #ffde6c;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 784px;
}
.agendaWraper .agendaItem .left {
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 840px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-right: 2px dashed #000;
}
.agendaWraper .agendaItem .left .title {
  font-size: 60px;
  margin-bottom: 38px;
}
.agendaWraper .agendaItem .left .content {
  font-size: 20px;
}
.agendaWraper .agendaItem .right {
  width: calc(100% - 784px);
  height: inherit;
  position: relative;
  text-align: center;
}
.agendaWraper .agendaItem .right .btn {
  margin-top: 400px;
}
.agendaWraper .agendaItem .right .topimg {
  position: absolute;
  top: 70px;
  right: 0;
}
.agendaWraper .agendaItem .right .bottomimg {
  position: absolute;
  bottom: 90px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.topicWraper {
  margin-top: 24px;
}
.volunteerWraper {
  margin-top: 24px;
  margin-bottom: 24px;
}
.personalWraper {
  margin-top: 24px;
}
.personalWraper .personalItem {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
}
.personalWraper .personalItem img {
  margin-right: 12px;
}
.personalWraper .personalItem .name {
  display: inline-block;
  color: #fff;
  font-size: 30px;
  margin-right: 42px;
}
.personalWraper .total {
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.post {
  margin: 0 auto;
  float: none;
}
@media screen {
  .post {
    max-width: 800px;
  }
}
#plugin-list-header {
  margin: 40px 0;
}
#plugin-list-header:before,
#plugin-list-header:after {
  content: "";
  display: table;
}
#plugin-list-header:after {
  clear: both;
}
#plugin-list-title {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  float: left;
}
#plugin-list-count {
  color: #999;
  padding-top: 1em;
  text-align: right;
}
@media screen and (min-width: 769px) {
  #plugin-list-count {
    float: right;
    line-height: 40px;
    padding-top: 0;
    padding-right: 15px;
  }
}
#plugin-search-input {
  font-size: 16px;
  font-family: inherit;
  -webkit-appearance: none;
  border: 1px solid #e3e3e3;
  padding: 10px 10px;
  width: 100%;
  margin-top: 25px;
}
@media screen and (min-width: 769px) {
  #plugin-search-input {
    float: right;
    width: 50%;
    margin-top: 0;
  }
}
#plugin-list {
  margin: 40px -20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
@media screen and (min-width: 480px) {
  #plugin-list {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
.plugin {
  display: none;
  padding: 20px;
}
@media screen and (min-width: 480px) {
  .plugin {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 769px) {
  .plugin {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 33.333333333333336%;
    -ms-flex: 0 0 33.333333333333336%;
    flex: 0 0 33.333333333333336%;
  }
}
.plugin.on {
  display: block;
}
.plugin-name {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0e83cd;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
}
.plugin-name:hover {
  color: #1094e8;
}
.plugin-desc {
  line-height: 1.6em;
  margin: 1em 0;
}
.plugin-tag-list {
  line-height: 1.3;
}
.plugin-tag-list:before,
.plugin-tag-list:after {
  content: "";
  display: table;
}
.plugin-tag-list:after {
  clear: both;
}
.plugin-tag {
  color: #999;
  font-size: 0.9em;
  text-decoration: none;
  float: left;
  margin-right: 10px;
}
.plugin-tag:hover {
  color: #1094e8;
}
.plugin-tag:before {
  content: "#";
}
.plugin-screenshot {
  margin-bottom: 15px;
  position: relative;
  padding-top: 62.5%;
  height: 0;
  overflow: hidden;
}
.plugin-screenshot-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.plugin-screenshot-img.lazyload,
.plugin-screenshot-img.lazyloading {
  opacity: 0;
}
.plugin-screenshot-img.lazyloaded {
  opacity: 1;
}
.plugin-preview-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}
.plugin-preview-link:hover {
  opacity: 1;
}
.plugin-preview-link:hover .fa {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.plugin-preview-link .fa {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 50px;
  width: 50px;
  height: 50px;
  opacity: 0;
  -webkit-transform: scale(6);
  -moz-transform: scale(6);
  -ms-transform: scale(6);
  transform: scale(6);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.archive-post {
  padding: 1em 0;
  border-top: 1px solid #e3e3e3;
}
.archive-post:last-child {
  padding-bottom: 40px;
}
.archive-post-link {
  display: block;
  color: #444;
  text-decoration: none;
  line-height: 1.6em;
}
.archive-post-link:before,
.archive-post-link:after {
  content: "";
  display: table;
}
.archive-post-link:after {
  clear: both;
}
.archive-post-link:hover {
  color: #1094e8;
}
.archive-post-title {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  font-weight: bold;
}
.archive-post-date {
  color: #999;
  float: right;
  font-size: 0.9em;
}
#mobile-nav {
  position: fixed;
  top: 0;
  width: 260px;
  left: -260px;
  height: 100%;
  background: #171f26;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mobile-nav-on #mobile-nav {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#mobile-nav-inner {
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
}
#mobile-nav-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 25px;
  height: 20px;
  margin: auto;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
#mobile-nav-toggle:active,
.mobile-nav-on #mobile-nav-toggle {
  opacity: 1;
}
@media screen and (min-width: 769px) {
  #mobile-nav-toggle {
    display: none;
  }
}
.mobile-nav-toggle-bar {
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  border-radius: 2px;
}
.mobile-nav-toggle-bar:first-child {
  top: 0;
}
.mobile-nav-on .mobile-nav-toggle-bar:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-nav-toggle-bar:nth-child(2) {
  top: 9px;
}
.mobile-nav-on .mobile-nav-toggle-bar:nth-child(2) {
  opacity: 0;
}
.mobile-nav-toggle-bar:last-child {
  top: 18px;
}
.mobile-nav-on .mobile-nav-toggle-bar:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-nav-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-nav-title {
  color: #0e83cd;
  font-weight: bold;
  padding: 10px 15px;
  line-height: 1;
  display: block;
  border-top: 1px solid #444;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#mobile-lang-select-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #171f26;
  border-top: 1px solid #444;
}
#mobile-lang-select-label {
  line-height: 40px;
  color: #fff;
  padding: 10px 15px;
}
#mobile-lang-select-label i {
  opacity: 0.7;
}
#mobile-lang-select-label span {
  padding-left: 8px;
}
#mobile-lang-select {
  -webkit-appearance: menulist-button;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#container {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.mobile-nav-on #container {
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  transform: translateX(260px);
  overflow: hidden;
}
#mobile-nav-dimmer {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  -moz-transition: opacity 0.4s, -moz-transform 0s 0.4s;
  -ms-transition: opacity 0.4s, -ms-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
}
.mobile-nav-on #mobile-nav-dimmer {
  width: 100%;
  opacity: 0.7;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#footer {
  text-align: center;
  color: #fff;
  line-height: 20px;
  background-color: #000;
  padding: 25px 0;
}
pre,
code {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 0.95em;
}
code {
  padding: 0 5px;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: #eee;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight table {
  margin: 0 !important;
  border: 0;
}
.highlight table th,
.highlight table td {
  padding: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
#carbonads {
  display: block;
  overflow: hidden;
  margin-top: 40px;
  max-width: 130px;
  text-align: left;
  font-size: 13px;
  line-height: 1.5;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads:hover {
  color: inherit;
}
#carbonads span {
  display: block;
  overflow: hidden;
}
.carbon-img {
  display: block;
  margin: 0 auto 8px;
  line-height: 1;
}
.carbon-text {
  display: block;
  margin-bottom: 8px;
}
.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  line-height: 1;
}
